fastapi
uvicorn
sqlalchemy
pydantic
email-validator
#JWT
python-jose[cryptography]

#for temp hashing
passlib[argon2]
# passlib[bcrypt]

#DB Drivers
sqlite3-binary #optional
# psycopg2 #Postgre

#RabbitMQ
pika

# Environment variables
# python-dotenv



